{% extends "base.html" %}

{% load static %}

{% block add_css %}
<link href="{% static 'data\css\add_.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="form-container mx-auto">
    <form class="form-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="submit-btn btn btn-warning " >Submit</button>
        <p id="error-message" style="color: red;"></p>
    </form>
</div>



{% if video_review %}
<div class="form-container mx-auto">
    <h1>Video Review</h1>
{% for review in video_review %}
        <div class="review_user">
            <h2>{{review.user}}</h2>
            <h5>{{review.created_at}}</h5>
            <label>{{review.review}}</label>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}