{% extends "base.html" %}
{% load static %}
{% block add_css %}
<link href="{% static 'account\css\login_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form method="post" >
            {% csrf_token  %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}


            <div class="form-control">
                <input id="id_username" name="username" type="text" required>
                <label for="id_username">Username</label>
            </div>
            <div class="form-control">
                <input type="password" name="password" id="id_password" required>
                <label  for="id_password">Password</label>
            </div>
            <button type="submit">Sign In</button>
            <div class="form-help" id="forgot-password-link"> 
               
               
            </div>
            </form>
            <script>
                document.getElementById('id_username').addEventListener('input', function() {
                    const username = this.value;
                    const linkElement = document.getElementById('forgot-password-link');
                    
                    // Assuming the base URL for reset_password is something like '/reset_password/'
                    const baseURL = '/account/forgot_password/';
                    const url = `${baseURL}?username=${encodeURIComponent(username)}`;
                    
                    // Update the href attribute of the existing link
                    linkElement.innerHTML = `<a href="${url}">Forgot Password? Reset</a>`;
                });
            </script>
            
            <p>New to HealtHive? <a href="#">Sign up now</a></p>
        </div> 

{% endblock %}