<div class="container-fluied my1 mt-auto py-3" style='background-color: #262626'>
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #FFC017"
            >
      <!-- Grid container -->
      
  
        <hr class="mb-4" />
  
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Wanna Join as a Trainer</span>
            <button type="button" class="btn btn-outline-light btn-rounded">
              <a class="btn" href="{% url 'register_trainer' %}">Join Now</a>
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
  
        <hr class="mb-4" />
  
        <!-- Section: Social media -->
       
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>